<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Accueil</title>

<script  src="../js/jquery-3.1.1.js" type="text/javascript"></script>

<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

<link href="../css/bootstrap.min.css" rel="stylesheet">

<link href="../css/nav.css" rel="stylesheet">

<link href="../css/accueil.css" rel="stylesheet" type="text/css">

</head>

<body>
	
	<div class="container">
		<!-- GRAND DIV  -->

	<header>
			<div class="masthead">
				<!-- titre du site web -->
				<h1 class="text-center">
					<a href="accueil" class="nom">4L TROPHY HEI</a>
				</h1>
				<!--  barre de navigation -->
				<nav>
					<ul class="nav nav-justified">
						<li><a  class="active" href="accueil">Accueil</a></li>
						<li class="dropdown"><a href="#" class="dropbtn">Equipages &darr;</a>
							<div class="dropdown-content">
								<a href="equipage">Equipages</a> 
								<a href="AjoutEquipage">Ajouter un équipage</a>
							</div></li>
						<li><a href="photos_videos">Photos-Vidéos</a></li>
						<li><a href="forum">Forum</a></li>
						<li><a href="contact">Contact</a></li>
						<li class="dropdown"><a href="#" class="dropbtn">Admin &darr;</a>
							<div class="dropdown-content">
								<a data-toggle="modal" data-target="#myModal2">Se connecter</a> 
									<a href="/4Ltrophy/deconnexion">Se déconnecter</a>
							</div></li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- colonne Evenements + calendrier-->
		<div class="row">
			<div class="col-sm-3">
				<div id="event">
					<!-- liste des évènements -->
					<h1>Evénements</h1>
						<article th:each="evenements : ${evenements}">
							<p><b th:text="${evenements.dateEvent}"></b></p>
							<p th:text="${evenements.event}"></p>
							<!-- bouton supprimer -->
							<button class="btn btn-primary btn-xs btn btn-danger">supprimer</button><br><br><br>
						</article>
					<p>
						<!-- bouton ajouter -->
						<a class="btn btn-success btn-xs" href="ajoutevenement"
							role="button">+ Ajouter un évènement</a>
					</p>
				</div>
				<!-- affichage du calendrier -->
				<div id="#calendrier">
					<h2>Calendrier</h2>
					<p>
						<iframe
							src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=280&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=nvg332aopr0ibbe1bqe9d1fpro%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Europe%2FParis"
							style="border-width: 0" width="280" height="250" frameborder="0"
							scrolling="no"></iframe>
					</p>
				</div>
			</div>
			<!-- colonne affichage des actualitées (plus récente en haut) -->
			<div id="actu" class="col-sm-7">
				<h1>Actualités</h1>
				<article th:each="actualites : ${actualites}">
					<!-- Div d'une actualité  -->
					<h2 th:text="${actualites.titreActu}"></h2>
					<p th:text="${actualites.actu}"></p>
					<!--  bouton supprimer -->
					<button class="btn btn-primary btn-xs btn btn-danger">supprimer</button><br><br><br>
				</article>
					<!--  bouton ajouter -->
					<a class="btn btn-success btn-xs" href="ajoutActu"
						role="button">+ Ajouter une actualité</a>
				</p>
			</div>
			<!-- affichage de la colonne météo -->
			<div id="meteo" class="col-sm-2">
				<h2>Météo</h2>
				<p>
					<!-- weather widget start / Lille-->
					<a href="http://hotelmix.fr/weather/lille-18116"><img
						src="http://w.bookcdn.com/weather/picture/28_18116_1_3_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_3.png?scode=124&domid=w209" /></a>
					<!-- weather widget end -->
				</p>
				<p>
					<!-- weather widget start / Marrackech -->
					<a href="//hotelmix.fr/weather/marrakesh-18158"><img
						src="http://w.bookcdn.com/weather/picture/28_18158_1_3_e74c3c_250_c0392b_ffffff_ffffff_1_2071c9_ffffff_0_3.png?scode=124&domid=w209" /></a>
					<!-- weather widget end -->
				</p>
			</div>
		
		<!-- message d'erreur - vous êtes deja connecte -->
		<div class="modal fade" id="myModal2" role="dialog">
    			<div class="modal-dialog">
    
     		 <!-- Modal content-->
     				 <div class="modal-content">
       					 <div class="modal-header">
         				 	<button type="button" class="close" data-dismiss="modal">&times;</button>
         				 	<h4 class="modal-title">Erreur</h4>
       					 </div>
        				 <div class="modal-body">
          					<p>Vous êtes déjà connecté</p>
        				</div>
        				<div class="modal-footer">
          					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
       				   </div>
      				</div>
      
   			 	</div>
 		 </div>
</div>
		<!-- mentions légales + copyright -->
		<footer class="footer">
			<p>&copy; Mentions légales</p>
			
		</footer>
		
		</div>

</body>
</html>
